<div dir="rtl" style="text-align: right">
    <span class="size" style="font-size: 14.6667px">
        <b>
            <i>
                <span class="colour" style="color: rgb(0, 152, 153)">
                    همکار عزیز،
                </span>
            </i>
        </b>
    </span>
    <br>
</div>
<div dir="rtl" style="text-align: right">
    <br>
</div>
<div dir="rtl" style="text-align: right">
    <span class="size" style="font-size: 16px">
        <b>
            تاییدیه شما برای ادامه روند رسیدگی به درخواست به شماره ___ticketid___ با موضوعیت ___subject___  که توسط ___customname___  ثبت شده است ،مورد نیاز می باشد.
        </br>
            برای مشاهده جزییات درخواست میتوانید روی لینک زیر کلیک نمایید.
        </b>
    </span>
    <br>
</div>
<div dir="rtl" style="text-align: right">
    <br>
</div>
<div>
    <br>
</div>
<div>
    <span class="size" style="font-size: 18.6667px">
        &nbsp;
    </span>
    <a href="$ApprovalLink" target="_blank">
        <span class="size" style="font-size: 18.6667px">
            لینک صفحه تاییدیه
        </span>
    </a>
    <span class="size" style="font-size: 18.6667px">
        <br>
        <br>
        you can take action by simply reply to this message and write in the first line either "approve" or "reject" with no extra characters.
    </span>
    <br>
</div>
<div style="text-align: right" dir="rtl">
    <span class="colour" style="color: rgb(0, 152, 153)">
        <span class="size" style="font-size: 14.6667px">
            <i>
                <b>
                    با احترام،
                </b>
            </i>
        </span>
    </span>
    <b>
        <br>
    </b>
</div>
<div style="text-align: right" dir="rtl">
    <span class="colour" style="color: rgb(0, 152, 153)">
        <span class="size" style="font-size: 14.6667px">
            <i>
                <b>
                    زیرساخت دیجی کالا - دپارتمان تکنولوژی
                </b>
            </i>
        </span>
    </span>
    <br>
</div>
<div style="text-align: right" dir="rtl">
    <br>
</div>
<div style="text-align: right" dir="rtl">
    <br>
</div>
<div style="text-align: right" dir="rtl">
    <span class="colour" style="color: rgb(153, 153, 153)">
        <span class="size" style="font-size: 10.6667px">
            <i>
                این پیام از سامانه تیکتینگ زیرساخت برای شما ارسال شده. جهت مشاهده وضعیت درخواست و روند رسیدگی به آن،
            </i>
        </span>
    </span>
    <a target="_blank" href="___link___">
        <span class="colour" style="color: rgb(153, 153, 153)">
            <span class="size" style="font-size: 10.6667px">
                <i>
                    به سامانه وارد شوید
                </i>
            </span>
        </span>
    </a>
    <br>
</div>
<div dir="rtl" style="text-align: right">
    <br>
</div>
